/* Estilo para el carrusel */
/* Estilo para el carrusel */

/* Especificidad 001 */
article {
    width: 80%; /* Ocupa todo el ancho */
    max-width: 80%; /* Asegura no exceder el contenedor */
    height: 90vh; /* Incrementa la altura dentro del main */
    position: relative;
    overflow: hidden; /* Oculta el contenido que sale del contenedor */
    border-radius: 1em;
    align-items: center;
    justify-self: center;
}

/* Especificidad 002 */
article img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Mantiene la altura ajustada */
    object-fit: cover; /* Asegura que la imagen se adapte */
    position: absolute;
    transition: all 0.5s;
    border-radius: 0.5em;
}

/* Botones de navegación */
button[data-action=prev] {
    position: absolute;
    width: 3em; /* Botones grandes */
    height: 3em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    font-size: 1.5em;
    bottom: 1%;
    left: 1%;
    transform: translateY(0);
}

button[data-action=next] {
    position: absolute;
    width: 3em; /* Botones grandes */
    height: 3em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    font-size: 1.5em;
    bottom: 1%;
    right: 1%;
    transform: translateY(0);
}
