/* Especificidad 001 */
main {
    width: 100%; /* Ocupa todo el ancho */
    height: 100vh; /* Aumenta la altura a 120% de la ventana */
    display: flex; /* Para centrar */
    align-items: center;
    justify-content: center;
}

/* Especificidad 001 */
article {
    width: 100%; /* Ocupa todo el ancho */
    max-width: 100%; /* Asegura no exceder el contenedor */
    height: 90vh; /* Incrementa la altura dentro del main */
    position: relative;
    overflow: hidden; /* Oculta el contenido que sale del contenedor */
    border-radius: 1em;
}

/* Especificidad 002 */
article img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Mantiene la altura ajustada */
    object-fit: cover; /* Asegura que la imagen se adapte */
    position: absolute;
    transition: all 0.5s;
    border-radius: 0.5em;
}

/* Especificidad 001 */
button {
    position: absolute;
    width: 3em; /* Botones grandes */
    height: 3em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); /* WARNING: Color de primer plano heredado de body */
    font-size: 1.5em;
}

/* Botones de navegación */
/* Especificidad 011 */
button[data-action=prev] {
    bottom: 40%;
    left: 1%;
    transform: translateY(0);
}

/* Especificidad 011 */
button[data-action=next] {
    bottom: 40%;
    right: 1%;
    transform: translateY(0);
}