/* Ángel Macías Rodríguez UO289362 */

/* COLORES UTILIZADOS : 
Black - #242628
Freesia - #EFE7BC
Amber - #FFBD20
Baby Blue - #E7F2F8
Aquamarine - #74BDCB
Yellow - #FAD02C
Dark Blue - #050A30
Navy Blue - #000C66
Blue - #0000FF
Baby Blue - #7EC8E3
Gray - #868B8E
Red - #F51720
Dark Red - #8B0000
*/

/* Especificidad : 001 */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #FFBD20;
    font-size: 1.2rem;
}

/* Especificidad 001 */
article{
    background-color: #f5c24c; /* Color de primer plano heredado de body */
}

/* Especificidad 001, 001, 001*/
h1,h2,h3{
    font-family: Papyrus, fantasy, serif;
}

/* Especificidad 001*/
h1{
    font-size: 3em;
}

/* Especificidad 001*/
h2{
    font-size: 2em;
}

/* Especificidad 001*/
h3{
    font-size: 1.25em;
}

/*Especificidad 001*/
h4{
    font-size: 1.15em;
}

/* Especificidad 001*/
h5{
    font-size: 1.05em;
}

/* Especificidad 001*/
header{
    background-color: #FAD02C; /* Color de primer plano heredado de body*/
    width: 100%;
}

/* Especificidad 001*/
section{
    background-color: #EFE7BC; /* Color de primer plano de body*/
}

/* Especificidad 001*/
aside{
    background-color: #74BDCB; /* Color de primer plano heredado de body*/
}

/* Especificidad 011*/
a:visited{
    color: #000C66; /* Color de fondo heredado de section (si el enlace está en alguna seccion) o body (si no está en ninguna)*/
}

/* Especificidad 011*/
a:link{
    color: #0000FF; /* Color de fondo heredado de section (si el enlace está en alguna seccion) o body (si no está en ninguna)*/
}

/* Especificidad 001*/
ul{
    list-style-type : square;
    font-size: 1.1em;
}

/* Especificidad 001*/
ol{
    list-style-type: lower-roman;
    font-size: 1.1em;
}

/* Especificidad 002*/
ul ul{
    list-style-type: lower-alpha;
    font-size: 1em;
}

/* Especificidad 001, 001*/
li, dd{
    font-size: 0.9em;
}

/* Especificidad 002 */
dl dt{
    font-weight: bold;
    font-style: italic;
    color: #050A30; /* Color de fondo heredado de body */
}

/* Especificidad 001*/
th{
    background-color: rgb(235, 200, 125);
    color: #000;
    font-weight: bold;
}

/* Especificidad 001*/
td{
    background-color: rgb(235, 200, 125);
    color: #000;
    
}

/* Especificidad 002*/
h1 > a{
    text-decoration: none;
}

/* Especificidad 001*/
video{
    width: 50%;
    min-width: 10rem;
    max-width: 32rem;
    height: auto;
}

/* Especificidad 001 */
nav {
    width: 100%;
    justify-content: space-between;
}

/* Especificidad 012*/
nav a.active {
    color: #8B0000; /* Color de fondo heredado de body */
    font-weight: bold;
}

