/* Ángel Macías Rodríguez UO289362 */

/* COLORES UTILIZADOS : 
Black - #242628
Freesia - #EFE7BC
Amber - #FFBD20
Baby Blue - #E7F2F8
Aquamarine - #74BDCB
Yellow - #FAD02C
Dark Blue - #050A30
Navy Blue - #000C66
Blue - #0000FF
Baby Blue - #7EC8E3
Gray - #868B8E
Red - #F51720
Dark Red - #8B0000
*/

/* Especificidad : 001 */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #FFBD20;
}

/* Especificidad 001, 001, 001*/
h1,h2,h3{
    font-family: Papyrus, fantasy, serif;
}

/* Especificidad 001*/
h1{
    font-size: 3em;
}

/* Especificidad 001*/
h2{
    font-size: 2em;
}

/* Especificidad 001*/
h3{
    font-size: 1.25em;
}

/* Especificidad 001*/
header{
    /* Color de primer plano heredado de body*/
    background-color: #FAD02C;
}

/* Especificidad 001*/
section{
    /* Color de primer plano de body*/
    background-color: #EFE7BC;
}

/* Especificidad 001 */
article{
    /* Color de primero plano heredado de body */
    background-color: lightpink;
}

/* Especificidad 001*/
aside{
    /* Color de primer plano heredado de body*/
    background-color: #74BDCB;
}

/* Especificidad 011*/
a:visited{
    /* Color de fondo heredado de section (si el enlace está en alguna seccion) o body (si no está en ninguna)*/
    color: #000C66;
}

/* Especificidad 011*/
a:link{
    /* Color de fondo heredado de section (si el enlace está en alguna seccion) o body (si no está en ninguna)*/
    color: #0000FF;
}

/* Especificidad 001*/
ul{
    list-style-type : square;
    font-size: 1.1em;
}

/* Especificidad 001*/
ol{
    list-style-type: lower-roman;
    font-size: 1.1em;
}

/* Especificidad 002*/
ul ul{
    list-style-type: lower-alpha;
    font-size: 1em;
}

/* Especificidad 001, 001*/
li, dd{
    font-size: 0.9em;
}

/* Especificidad 002 */
dl dt{
    font-weight: bold;
    font-style: italic;
    color: #050A30;
}

/* Especificidad 001*/
th{
    background-color: #FFFFFF;
    color: #000;
    font-weight: bold;
}

/* Especificidad 001*/
td{
    background-color: #242628;
    color: #fff;
    
}

/* Especificidad 002*/
h1 > a{
    text-decoration: none;
}

/* Especificidad 001*/
video{
    width: 90%;
    height: auto;
}

/* Especificidad 012*/
nav a.active {
    color: #8B0000;  
    font-weight: bold;
}
