/* Ángel Macías Rodríguez UO289362 */


/* Especificidad 001 */
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* Especificidad 001*/
@media screen and (max-width: 799px) {
    header {
        /* Redefinición de flex-direction para que la navegación sea adaptable */
        flex-direction: column;
    }
}
