/* Ángel Macías Rodríguez UO289362 */


/* Especificidad 001 */
header{
    display: flex;
    justify-content: space-between;
}

/* Especificidad 001*/
@media screen and (max-width: 799px) {
    header {
        font-size: 2em; /*tamaño de fuente reducido*/
        padding: 0.5em; /*espacio interno reducido */ 
    }
}
