/* Ángel Macías Rodríguez UO289362 */


/* Especificidad 001 */
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* Especificidad 001*/
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


@media screen and (max-width: 799px) {
    /* Especificidad 001*/
    header {
        flex-direction: column;  /* Redefinición para pantallas pequeñas */
    }

    /* Especificidad 001*/
    nav {
        flex-direction: column; /* Redefinición para pantallas pequeñas */
        gap: 1rem;
    }
}
