button{
  font-size: 1.2rem;
  margin-left: 4rem;
}

li{
  margin-top: 1.5rem;
}

form{
  margin-top: 2rem;
  font-size: 1.2rem;
}

form input{
  font-size: 1.2rem;
  margin-right: 2rem;
}


form label{
  margin-left: 3rem;
  margin-right: 1rem;
}