/* Especificidad 001 */
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
}

/* Especificidad 003 */
main section > div {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

/* Especificidad 003 */
main section svg {
  width: 100%;              
  height: 60rem;            
  max-width: 100%;        
  background-color: #fff;   /* Color de primer plano heredado de body */
  border-radius: 8px;       
}