body {
    width: 90%;
    height: 100%;
    margin: 3em;
}

main {
    width: 60%;
    height: 50%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5% 3%;
    align-items: center;
}

h3 {
    grid-column: 1 / -1;
    text-align: center;
}

div {
    background-color: #000A;
    border: 5px solid black;
    aspect-ratio: 1;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    div {
        aspect-ratio: 0.5;
    }   
}

button:first-of-type {
    grid-column: 2 / span 1;
}

button:nth-of-type(2) {
    grid-column: 3 / span 1;
}


/*encendido de luces*/
@keyframes startLights {
   from {background-color: #000A;}
   to{background-color: rgb(249, 5, 9);}
}

main.load div:first-of-type {
    animation-name: startLights;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(2) {
    animation-name: startLights;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(3) {
    animation-name: startLights;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(4) {
    animation-name: startLights;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
} 

/*apagado de luces*/
@keyframes out {
    from {background-color: #000A;}
    to {background-color: #000A;}
}

main.unload div:first-of-type {
    animation-name: out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

main.unload div:nth-of-type(2) {
    animation-name: out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

main.unload div:nth-of-type(3) {
    animation-name: out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

main.unload div:nth-of-type(4) {
    animation-name: out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}
